@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #282c34;

  font-size: calc(10px + 2vmin);
  color: white;
}

.centerContent {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerContentFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.textContent {
  width: 400px;
  text-align: left;
  margin-top: 40px;
}
.App-link {
  color: #133944;
}

a {
  color: white;
}
